# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  DOCKER_IMAGE: someplace
  GIT_SHORT_SHA: placeholder

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Prepare env vars
        run: |
          export GIT_SHORT_SHA=$(git rev-parse --short HEAD)
          echo "GIT_SHORT_SHA=$GIT_SHORT_SHA" >> $GITHUB_ENV
          echo "DOCKER_IMAGE=$DOCKER_IMAGE:$GIT_SHORT_SHA" >> $GITHUB_ENV

      - name: test the value
        run: |
          echo $GIT_SHORT_SHA
          echo $DOCKER_IMAGE
          echo ${{github.ref}}

      - name: Contains test
        run: 
          echo "good sprint!"
        ifï¼š contains(github.ref, 'sprint')
        
